body {
    background-color: rgb(233, 215, 176);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    color: rgb(8, 8, 7);
    font-family: cursive;
    text-decoration: underline;
    background-color: rgba(69, 162, 179, 0.438);
    width: 50%;
    margin: 9.375rem auto 0;
    padding: 1px 20px;
    border-radius: 25px;
}

.task-list {
    margin: 3.125rem auto;
    width: 50%;
    ;
}

.task {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(83, 132, 224, 0.384);
}

.task-text {
    flex-basis: 80%;
    text-align: left;
    padding-left: 35px;
    height: auto;
    margin-bottom: 10px;
}

.task-done {
    text-decoration: line-through;
}

.task-info:parent {
    height: fit-content;
}

.task-info {
    position: relative;
    top: 40%;
    left: 80%
}

.task:first-child {
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
}

.task:last-of-type {
    margin-bottom: 3.125rem;
    border-bottom-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;
}

.task-checkbox:checked+p {
    text-decoration: line-through;
}

.created-date {
    font-size: 12px;
}

.input-form button {
    border-radius: 50%;
    background-color: cadetblue;
    color: black;
    font-size: 24pt;
    font-weight: 600;
    height: 60px;
    width: 60px;
    text-align: center;
}

.input-form {
    background-color: rgba(131, 206, 177, 0.466);
    border-radius: 25px;
    padding: 15px 0;
}

input[type="text"] {
    height: 60px;
    text-align: center;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    border: none;
    width: 77.5%;
}

button {
    margin-left: 15px;
    position: relative;
    left: 10px;
    margin-right: 10px;
}

::placeholder {
    color: rgb(17, 51, 165);
    opacity: 1;
}